<h1><a href="/">{{title}}</a></h1>
<h2>Journal Entry</h2>
<p>
  {{date}}<br/>
  {{{text}}}<br/>
  {{#if url}}
    <a href="{{url}}">{{url}}</a><br/>
  {{/if}}
  {{#if notes}}
    {{notes}}
  {{/if}}
</p>